*__pycache__/
samples*/
runs/
checkpoints/
master_ip
logs/
*.DS_Store
.idea
output*
test*
wandb/
*.egg-info
.cursorrules
*.deepspeed_env
.gradio
build
*training_sample*.png

ckpt
data
cache
flagged
.gradio
app/result
*tmp_gradio*

!./app/assets/**